// Override Bulma variables

// https://bulma.io/documentation/customize/variables/

// Base
$text: #e4e4e4;
$text-light: #aaaaaa;
$text-strong: #fff;
$primary: #0ce3ac;

$body-color: $text;
$body-background-color: #222222;
$background: #222222;
$title-color: $text-strong;
$subtitle-color: $text;
$subtitle-strong-color: $text-strong;

$link: $primary;
$link-hover: darken($primary, 7.5%);

$input-hover-color: $text-strong;

// Navbar (unused?)
$navbar-background-color: lighten($background, 7.5%);

$navbar-item-color: $text;
$navbar-item-hover-background-color: darken($navbar-background-color, 3.25%);

$navbar-divider-background-color: lighten($navbar-background-color, 7.5%);

$navbar-dropdown-border-top: 2px solid $navbar-divider-background-color;
$navbar-dropdown-background-color: $navbar-background-color;
$navbar-dropdown-item-hover-background-color: $navbar-item-hover-background-color;
$navbar-dropdown-item-hover-color: $link;

// Sidebar
$menu-item-active-color: $body-background-color;
$menu-item-hover-color: $link;

// Import Bulma variables
@import "~bulma/sass/utilities/_all.sass";
